<a href="https://colab.research.google.com/github/Nayana-G-Naik/Naik-Nayana-G-4AL17CS053/blob/master/Day%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Program to find the largest number in a list.

In [5]:
 
x=0
print('The greatest no is',max([int(input(x)) for i in range(int(input("Enter n")))]))

Enter n3
4
56
57
The greatest no is 57

 Python Program to put the even and 
 odd elements in a list into two different lists.

In [6]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:4
Enter element:6
Enter element:7
The even list [4, 6]
The odd list [7]

Python Program to merge two lists and sort it.

In [7]:
 
 
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:3
Enter element:45
Enter element:67
Enter element:45
Enter number of elements:2
Enter element:34
Enter element:23
Sorted list is: [23, 34, 45, 45, 67]

 Python Program to sort the list according to the second element in the sublist.

In [8]:
 
 
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

 Python Program to find the second largest number in a list using bubble sort.

In [9]:
 
 
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:3
Enter element:45
Enter element:24
Enter element:67
Second largest number is: 45

 Program to create a list of tuples with the first element as the number and the second element as the square of the number

In [11]:
 
 
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:4
Enter the upper range:7
[(4, 16), (5, 25), (6, 36), (7, 49)]

 Python Program to generate random numbers from 1 to 20 and append them to the list.

In [12]:
 
 
 
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:4
Randomised list is:  [13, 5, 13, 7]

 Write python program to have a list of words  to sort them from longest to shortest using list of tuples

In [13]:
 
 
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)
 
res = list()
for length, word in t:
    res.append(word)
 
print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

 
#Python program that assigns variables

In [14]:
 
 
# Create packed tuple.
pair = ("dog", "cat")
 
# Unpack tuple.
(key, value) = pair
 
# Display unpacked variables.
print(key)
print(value)

dog
cat

 #Python program that searches tuples

In [15]:
 
pair = ("dog", "cat")
 
# Search for a value.
if "cat" in pair:
    print("Cat found")
 
# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found

 .clear()
#Removes all elements of dictionary dict

In [16]:
 
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

 dict.items()
#Returns a list of dict's (key, value) tuple pairs

In [17]:
 
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

 # dict.copy()
#Returns a copy of dictionary dict

In [18]:
 
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

 Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).

In [19]:
 
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:4
{1: 1, 2: 4, 3: 9, 4: 16}

 Python Program to Remove the Given Key from a Dictionary

In [20]:
c
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):c
Updated dictionary
{'a': 1, 'b': 2, 'd': 4}

 # Keys and Values example

In [24]:
    d={}
    print (" The dictionary elements are")
    for i in range(1,21):
        d[i]=i**2
    print (d)
    # To print key and values
    print (" Key==> Value are")
    for (k,v) in d.items(): 
        print(k,"==>",v)
  # To print key only
    print ("\nTo print key only")
    for k in d.keys():  
        print(k, end=" ")
  #To print value only
    print ("\nTo print values only")
    for v in d.values():    
        print(v, end=" ")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

 
Python program to convert 2 digit number   into words

In [25]:
 
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}
 
num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:88
eighty eight

 How to sort a dictionary by values in Python

In [26]:
 
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]